@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
}

body {
	/* color:  #3c3c3c;
	background-color: yellow;
	font: 14px/1.4 'Lato', Arial, sans-serif; */
}
